body{
  background-image: url("background.png");
}

h1{
  color: #03a1e2;
  font-family: "Courier New", courier, monospace;
  position: fixed;
  left:1450px;
  top:100px;
}

p{
  color: #03a1e2;
  font-family: "Courier New", courier, monospace;
  position: fixed;
  left:1350px;
  top:200px;
  width:400px;
  text-align: justify;
}

h2{
  color: #03a1e2;
  font-size:20px;
  font-family: "Courier New", courier, monospace;
  position: fixed;
  top:800px;
  left:1300px;
  right:200px;
  text-align: center;
  width:500px;
}

#path{
  position:fixed;
  left:1400px;
  top:400px;
  width:300px;
  height:50px;
  margin-top:10px;
  border-radius: 25px;
  background-color:#03a1e2;
  color:white;
  font-size: 15px;
  border:0;
  text-align: center;
}

#path::placeholder{
  color:white;
}

#path:hover {
  background-color:#3cbbf0;
}

#path:active {
  background-color:#005a80;
}

#path:focus{
  outline:none;
}

#button{
  position:fixed;
  width:300px;
  height:50px;
  margin-top:10px;
  border-radius: 25px;
  background-color:#03a1e2;
  color:white;
  font-size: 15px;
  border:0;
  text-align: center;
  left:1400px;
  top:500px;
}

#button::placeholder{
  color:white;
}

#button:hover {
  background-color:#3cbbf0;
}

#button:active {
  background-color:#005a80;
}

#button:focus{
  outline:none;
}

.progress-bar{
  color: white;
}

#image-selector{
  color: white;
}

fieldset{
  width: 700px;
  height:880px;
  border:2px solid #0aa7ba;
  position:fixed;
  left:1180px;
  top:20px;
  border-radius: 25px;
}

legend{
  color: #0aa7ba;
  font-family: "Courier New", courier, monospace;
}
